#details {
  margin: auto;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.233);
  width: 90%;
  height: 710px;
  overflow-y: scroll;
}

.qna {
  margin: 5px 10px 30px 10px;
}

.questions {
  margin: 10px 0;
  font-size: xx-large;
  font-weight: 600;
}

.answers {
  margin: 0 10px;
  font-size: medium;
  font-weight: 400;
}

.answers ul {
  margin-left: 30px;
}

.answers p {
  margin: 10px;
}

.emphasis {
  font-size: large;
  font-weight: 600;
}
