header {
  background-color: cornflowerblue;
  width: 100%;
  height: 100px;
}

#logo {
  width: 70%;
  height: 100px;
  float: left;
}

#logo img {
  width: 105px;
  height: 90px;
  border-radius: 20%;
  padding: 5px;
  float: left;
}

#logo p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  font-style: italic;
  color: aliceblue;
  padding-top: 35px;
}

#home {
  float: right;
  padding: 25px 50px;
}
#home a img {
  width: 40px;
}
