.table {
  width: 100%;
}
.table th {
  text-decoration: underline;
  background-color: rgba(86, 144, 192, 0.829);
}

.table tr {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.096);
}

table,
th,
td {
  border: 1px solid rgba(0, 0, 170, 0.411);
}
